[Desktop Entry]
Name=DAQ Write To File
Comment=From http://inventwithpython.com/pygame/
Exec=/home/pi/Library/CombustionEmissionsTesting/desktop_stuff/daq_write_to_file/launcher.sh
Icon=/home/pi/Library/CombustionEmissionsTesting/desktop_stuff/daq_write_to_file/icon.png
Terminal=false
Type=Application
Categories=Application
StartupNotify=true
